a{
  color: white!important;
}

section {

  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 90%;
}

nav {
  background: #333333;
  color: #fff;
  /*Borde de las esquinas en curva*/
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 90%; 

}

footer {
  background: #333333;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: #fff;
  width: 90%;
  /*Centrar el texto*/
  text-align: center;
}

nav ul li {
  margin: 0;
  margin-right: 10px;
  display: inline-block;
}

nav ul li a{
  color: #fff;
  border-radius: 4px;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}
nav ul li a:hover{
  color: #F8FAFC;
  border-radius: 4px;
  font-weight: bold;
  background: #4A4C4D;
  text-decoration: none;
}

header {
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  font-weight: bold;
}

.style-form {

  margin: 0 auto;
  /* max-width: 80%; */
  background: #fff;
  /* padding: 30px 30px 20px 30px; */
  box-shadow: rgba(187, 187, 187, 0.7) 0 0px 10px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;

}

/* .style-form:hover {
  box-shadow: rgba(187, 187, 187, 1) 0 0px 15px;
} */

.style-form h3{

  font: 24px, Arial, Helvetica, sans-serif;
  padding: 20px 0px 20px 40px;
  /* background: rgba(90, 149, 149, 0.7); */
  display: block;
  margin: -30px -15px 10px -15px;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #F5F5F5;
  color: black;
  text-align: center;
}

/* .style-form:hover h3{
  background: rgba(90, 149, 149, 1); 
} */
